<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="dark light" />

		<title>Anthropometry Playground</title>

		<link rel="stylesheet" href="assets/styles/theme-toggle.css" />
		<link rel="stylesheet" href="assets/styles/main.css" />
	</head>
	<body class="container">
		{{> header }}

		<main>
			<article>
				<div class="grid">
					<details
						class="nomargin dropdown"
						data-tooltip="Choose the dataset to analyze."
						data-preference-dropdown
					>
						<summary>Dataset</summary>
						<ul>
							<li>
								<label class="secondary">
									<input
										type="radio"
										name="dataset"
										value="ansur1"
										disabled
									/>
									<span class="secondary">
										ANSUR I
										<br />
										<small>
											A survey of U.S. Army personnel
											published in 1988.<br />
											Includes 140+ measures for 1774 men
											and 2208 women.
										</small>
									</span>
								</label>
							</li>
							<hr />
							<li>
								<label>
									<input
										type="radio"
										name="dataset"
										value="ansur2"
										checked
									/>
									<span>
										ANSUR II
										<small class="badge"
											>(recommended)</small
										>
										<br />
										<small>
											A survey of U.S. Army personnel
											published in 2017.<br />
											Includes 93 measures for 4082 men
											and 1986 women.<br />
										</small>
									</span>
								</label>
							</li>
						</ul>
					</details>
					<details
						class="nomargin dropdown"
						data-tooltip="Choose the gender(s) to include."
						data-preference-dropdown
					>
						<summary>Genders</summary>
						<ul>
							<li>
								<label>
									<input
										type="checkbox"
										name="genderMale"
										checked
									/>
									Male
								</label>
							</li>
							<li>
								<label>
									<input
										type="checkbox"
										name="genderFemale"
										checked
									/>
									Female
								</label>
							</li>
						</ul>
					</details>
					<details
						class="nomargin dropdown"
						data-tooltip="Choose the units of measurement to use."
						data-preference-dropdown
					>
						<summary>Units</summary>
						<ul>
							<li>
								<label>
									<input
										type="radio"
										name="unit"
										value="metric"
										checked
									/>
									<span>Metric <small>(cm, kg)</small></span>
								</label>
							</li>
							<li>
								<label>
									<input
										type="radio"
										name="unit"
										value="imperial"
									/>
									<span
										>Imperial <small>(in, lbs)</small></span
									>
								</label>
							</li>
						</ul>
					</details>
				</div>

				<hr />

				<details name="visualizations" open>
					<summary class="contrast">Univariate Distribution</summary>
					<div class="grid visualization-grid">
						<div>
							<p>
								View the distribution of a single anthropometric
								variable. Select the variable to visualize.
								Enter a value to see where it falls within the
								dataset.
							</p>
							<div>
								<label>X-Axis:</label>
								<details
									class="dropdown"
									name="measurementX2"
									data-measurement-dropdown
									data-measurement-dropdown-default="stature"
								>
									<summary>Measurement</summary>
									<ul>
										<li>
											<input
												type="search"
												placeholder="Search"
												aria-label="Search"
											/>
										</li>
									</ul>
								</details>

								<fieldset role="group">
									<input
										type="number"
										name="measurementValueX2"
										data-measurement-value
									/>
									<button
										class="contrast"
										data-unit-for="measurementX2"
										disabled
									></button>
								</fieldset>
							</div>
						</div>
						<canvas id="histogram-plot" class="histogram-chart">
						</canvas>
					</div>
				</details>

				<hr />

				<details name="visualization2" open>
					<summary class="contrast">Bivariate Relationship</summary>
					<div class="grid visualization-grid">
						<div>
							<p>
								View the relationship between two different
								anthropometric variables. Select the variables
								to visualize. Enter a value for each to see
								where that point falls within the dataset.
							</p>
							<div>
								<label>X-Axis:</label>
								<details
									class="dropdown"
									name="measurementX"
									data-measurement-dropdown
									data-measurement-dropdown-default="weightkg"
								>
									<summary>Measurement</summary>
									<ul>
										<li>
											<input
												type="search"
												placeholder="Search"
												aria-label="Search"
											/>
										</li>
									</ul>
								</details>

								<fieldset role="group">
									<input
										type="number"
										name="measurementValueX"
										data-measurement-value
									/>
									<button
										class="contrast"
										data-unit-for="measurementX"
										disabled
									></button>
								</fieldset>
							</div>
							<div>
								<label>Y-Axis:</label>
								<details
									class="dropdown"
									name="measurementY"
									data-measurement-dropdown
									data-measurement-dropdown-default="stature"
								>
									<summary>Measurement</summary>
									<ul>
										<li>
											<input
												type="search"
												placeholder="Search"
												aria-label="Search"
											/>
										</li>
									</ul>
								</details>

								<fieldset role="group">
									<input
										type="number"
										name="measurementValueY"
										data-measurement-value
									/>
									<button
										class="contrast"
										data-unit-for="measurementY"
										disabled
									></button>
								</fieldset>
							</div>
						</div>
						<canvas id="scatter-plot" class="chart"> </canvas>
					</div>
				</details>
			</article>
		</main>

		{{> footer }}

		<script src="assets/scripts//theme-toggle.js"></script>
		<script type="module" src="assets/scripts/main.js"></script>
	</body>
</html>
