---
layout: "layouts/default.hbs"
title: "Anthropometry Playground"
---

<article>
  <div class="grid">
    <details class="nomargin dropdown"
             data-tooltip="Choose the dataset to analyze."
             data-preference-dropdown>
      <summary>Dataset</summary>
      <ul>
        <li>
          <label class="secondary">
            <input type="radio" name="dataset" value="ansur1" disabled />
            <span class="secondary">
              ANSUR I
              <br />
              <small>
                A survey of U.S. Army personnel published in
                1988.
                <br />
                Includes 140+ measures for 1774 men and 2208
                women.
              </small>
            </span>
          </label>
        </li>
        <hr />
        <li>
          <label>
            <input type="radio" name="dataset" value="ansur2" checked />
            <span>
              ANSUR II
              <small class="badge">(recommended)</small>
              <br />
              <small>
                A survey of U.S. Army personnel published in
                2017.
                <br />
                Includes 93 measures for 4082 men and 1986
                women.
                <br />
              </small>
            </span>
          </label>
        </li>
      </ul>
    </details>
    <details class="nomargin dropdown"
             data-tooltip="Choose the gender(s) to include."
             data-preference-dropdown>
      <summary>Genders</summary>
      <ul>
        <li>
          <label>
            <input type="checkbox" name="genderMale" checked />
            Male
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="genderFemale" checked />
            Female
          </label>
        </li>
      </ul>
    </details>
    <details class="nomargin dropdown"
             data-tooltip="Choose the units of measurement to use."
             data-preference-dropdown>
      <summary>Units</summary>
      <ul>
        <li>
          <label>
            <input type="radio" name="unit" value="metric" checked />
            <span>Metric <small>(cm, kg)</small></span>
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="unit" value="imperial" />
            <span>Imperial <small>(in, lbs)</small></span>
          </label>
        </li>
      </ul>
    </details>
  </div>
  <hr />
  <details name="visualizations1" open>
    <summary class="contrast">001. Actual Distribution</summary>
    <div class="grid visualization-grid">
      <div>
        <p>
          View the distribution of a single anthropometric variable.
          Select the variable to visualize. Enter a value to see where
          it falls within the dataset.
        </p>
        <div>
          <label>X-Axis:</label>
          <details class="dropdown"
                   name="measurementXHistogram"
                   data-measurement-dropdown
                   data-measurement-dropdown-default="stature">
            <summary>Measurement</summary>
            <ul>
              <li>
                <input type="search" placeholder="Search" aria-label="Search" />
              </li>
            </ul>
          </details>
          <fieldset role="group">
            <input type="number"
                   name="measurementValueXHistogram"
                   data-measurement-value />
            <button class="contrast" data-unit-for="measurementXHistogram" disabled></button>
          </fieldset>
        </div>
      </div>
      {{> components/plots/histogram id="histogram-plot" }}
    </div>
  </details>
  <hr />
  <details name="visualizations2" open>
    <summary class="contrast">002. Actual Joint Distribution</summary>
    <div class="grid visualization-grid">
      <div>
        <p>
          View the joint distribution between two anthropometric
          variables. Select the variables to visualize. Enter a value
          for each to see where that point falls within the dataset.
        </p>
        <div>
          <label>X-Axis:</label>
          <details class="dropdown"
                   name="measurementXScatter"
                   data-measurement-dropdown
                   data-measurement-dropdown-default="stature">
            <summary>Measurement</summary>
            <ul>
              <li>
                <input type="search" placeholder="Search" aria-label="Search" />
              </li>
            </ul>
          </details>
          <fieldset role="group">
            <input type="number" name="measurementValueXScatter" data-measurement-value />
            <button class="contrast" data-unit-for="measurementXScatter" disabled></button>
          </fieldset>
        </div>
        <div>
          <label>Y-Axis:</label>
          <details class="dropdown"
                   name="measurementYScatter"
                   data-measurement-dropdown
                   data-measurement-dropdown-default="weightkg">
            <summary>Measurement</summary>
            <ul>
              <li>
                <input type="search" placeholder="Search" aria-label="Search" />
              </li>
            </ul>
          </details>
          <fieldset role="group">
            <input type="number" name="measurementValueYScatter" data-measurement-value />
            <button class="contrast" data-unit-for="measurementYScatter" disabled></button>
          </fieldset>
        </div>
      </div>
      {{> components/plots/scatter id="scatter-plot" }}
    </div>
  </details>
  <hr />
  <details name="visualizations3" open>
    <summary class="contrast">003. Modelled Probability Distribution</summary>
    <div class="grid visualization-grid">
      <div>
        <p>
          View the modelled probability distribution for a single anthropometric variable.
          Select the variable to visualize. Enter a value to see where
          it falls within the dataset.
        </p>
        <div>
          <label>X-Axis:</label>
          <details class="dropdown"
                   name="measurementXDensity"
                   data-measurement-dropdown
                   data-measurement-dropdown-default="stature">
            <summary>Measurement</summary>
            <ul>
              <li>
                <input type="search" placeholder="Search" aria-label="Search" />
              </li>
            </ul>
          </details>
          <fieldset role="group">
            <input type="number" name="measurementValueXDensity" data-measurement-value />
            <button class="contrast" data-unit-for="measurementXDensity" disabled></button>
          </fieldset>
        </div>
      </div>
      {{> components/plots/density id="density-plot" }}
    </div>
  </details>
</article>
