---
layout: "layouts/default.hbs"
title: "Anthropometry Playground"
---

<article>
  <div class="sticky-settings">
    <div class="grid">
      <details class="nomargin dropdown"
               data-tooltip="Choose the dataset to analyze."
               data-preference-dropdown>
        <summary>Dataset</summary>
        <ul>
          <li>
            <label>
              <input type="radio" name="dataset" value="ansur1" />
              <span>
                ANSUR I
                <br />
                <small>
                  A survey of U.S. Army personnel published in
                  1988.
                  <br />
                  Includes 140+ measures for 1774 men and 2208
                  women.
                </small>
              </span>
            </label>
          </li>
          <hr />
          <li>
            <label>
              <input type="radio" name="dataset" value="ansur2" checked />
              <span>
                ANSUR II
                <small class="badge">(recommended)</small>
                <br />
                <small>
                  A survey of U.S. Army personnel published in
                  2017.
                  <br />
                  Includes 93 measures for 4082 men and 1986
                  women.
                  <br />
                </small>
              </span>
            </label>
          </li>
        </ul>
      </details>
      <details class="nomargin dropdown"
               data-tooltip="Choose the gender(s) to include."
               data-preference-dropdown>
        <summary>Genders</summary>
        <ul>
          <li>
            <label>
              <input type="checkbox" name="genderMale" checked />
              Male
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="genderFemale" checked />
              Female
            </label>
          </li>
        </ul>
      </details>
      <details class="nomargin dropdown"
               data-tooltip="Choose the units of measurement to use."
               data-preference-dropdown>
        <summary>Units</summary>
        <ul>
          <li>
            <label>
              <input type="radio" name="unit" value="metric" checked />
              <span>Metric <small>(cm, kg)</small></span>
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="unit" value="imperial" />
              <span>Imperial <small>(in, lbs)</small></span>
            </label>
          </li>
        </ul>
      </details>
    </div>
    <hr />
  </div>
  {{> components/experiments/experiment-list }}
</article>
