<footer>
  <p>
    <small>
      Created with <code>:love:</code> and <code>:brainworms:</code> by
      <a class="contrast" href="https://github.com/patchoulish">patchoulish</a>.
    </small>
  </p>
</footer>
