<details class="dropdown"
         name="{{ name }}"
         data-measurement-dropdown
         data-measurement-dropdown-default="{{ defaultValue }}">
  <summary>Measurement</summary>
  <ul>
    <li>
      <input type="search" placeholder="Search" aria-label="Search" />
    </li>
  </ul>
</details>
