<fieldset data-switch-control>
  <label>
    <input type="checkbox"
           role="switch"
           id="{{ id }}"
           name="{{ name }}"
           {{#if checked}}
           checked
           {{/if}} />
    {{ label }}
  </label>
</fieldset>
