{{!--
Switch Control Component
Renders a boolean checkbox styled as a toggle switch.
Parameters:
- id: Unique ID for the input element.
- name: Name attribute for the input element.
- label: Text label displayed next to the switch.
- checked: Boolean, if true the switch starts in the 'on' position.
--}}
<fieldset data-switch-control>
  <label>
    <input type="checkbox"
           role="switch"
           id="{{ id }}"
           name="{{ name }}"
           {{#if checked}}
           checked
           {{/if}} />
    {{ label }}
  </label>
</fieldset>
