<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/styles/theme-toggle.css" />
    <link rel="stylesheet" href="assets/styles/main.css" />
  </head>
  <body class="container">
    {{> header }}
    <main>
      {{{ content }}}
    </main>
    {{> footer }}
    <script src="assets/scripts/theme-toggle.js"></script>
    <script type="module" src="assets/scripts/main.js"></script>
  </body>
</html>
